<h1>New Article Form</h1>
<%= form_for :revision, url: articles_path(@article) do |f| %>

  <% if @article.errors.any? %>
    <%= render partial: 'errors/errors', locals: { errors: @article } %>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :size=>"50" %>
  </p>
  <div>
    <%= f.cktext_area :paragraph, rows: 10 %>
  </div>
  <h3>Category</h3>
  <select name="category_id">
    <% Category.all.each do |category| %>
      <option value=<%= category.id %>><%= category.name %></option>
    <% end %>
  </select>
  <p>
    <%= f.submit "Create Article" %>
  </p>

<% end %>
