<% if owner %>
	<h1><%= @article.latest_update.title %></h1>
  <span>category: <%= @article.category.name %></span>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Change Category<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, "/articles/#{@article.id}/categories/#{category.id}", method: :put %></li>
          <% end %>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Create New Category", new_category_path %></a></li>
        </ul>
      </li>
    </div>
	<p><%= @article.latest_update.paragraph.html_safe %></p>
	<p>
	<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Edit', edit_article_path(@article)%>
	</p>
<% else  %>
	<h1><%= @article.newest_revision.title %></h1>
	<p><%= @article.newest_revision.paragraph.html_safe %></p>
<% end %>

<hr>
<% @article.sections.each do |section| %>
	<% if section.revisions.exists? %>
		<% if owner %>
			<h3><%= section.latest_update.title %></h3>
			<p><%= section.latest_update.paragraph.html_safe %></p>
			<hr>
		<% else  %>
			<% if section.newest_revision != nil %>
				<h3><%= section.newest_revision.title %></h3>
				<p><%= section.newest_revision.paragraph.html_safe %></p>
				<hr>
			<% end %>
		<% end %>
    <% end %>
<% end %>

<h3>Notes</h3>
<%= link_to 'New', new_article_note_path(@article.id) if owner%>
<ol>

  <% @article.notes.each do |note| %>
    <li><%= note.comment %>
    <% if owner %>
	<p>
	<%= link_to 'Delete', article_note_path(@article.id, note.id), method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Edit', edit_article_note_path(@article.id, note.id)%>
	</p>
	<% end %>
  <% end %>
</ol>
<hr>
<h3>References</h3>
<%= link_to 'New', new_article_bibliography_path(@article.id) if owner%>
<ul>
  <% @article.bibliographies.each do |bib| %>
    <li><%= bib.resource_type %>: <%= bib.reference %></li>
    <% if owner %>
	<p>
	<%= link_to 'Delete', article_bibliography_path(@article.id, bib.id), method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Edit', edit_article_bibliography_path(@article.id, bib.id)%>
	</p>
	<% end %>
  <% end %>
</ul>
