<h1><%= @article.revisions.last.title %></h1>
<p><%= @article.revisions.last.paragraph %></p>
<hr>
<% @article.sections.each do |section| %>
  <h3><%= section.revisions.last.title %></h3>
  <p><%= section.revisions.last.paragraph %></p>
  <hr>
<% end %>

<h3>Notes</h3>
<ol>
  <% @article.notes.each do |note| %>
    <li><%= note.comment %>
  <% end %>
</ol>
<hr>
<h3>References</h3>
<ul>
  <% @article.bibliographies.each do |bib| %>
    <li><%= bib.resource_type %>: <%= bib.reference %></li>
  <% end %>
</ul>
<p>
<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_article_path(@article)%>

</p>