<% if owner %>
	<h1><%= @article.latest_update.title %></h1>
  <span>category: <%= @article.category.name %></span>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Change Category<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, "/articles/#{@article.id}/categories/#{category.id}", method: :put %></li>
          <% end %>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Create New Category", new_category_path %></a></li>
        </ul>
      </li>
    </div>
	<p><%= @article.latest_update.paragraph.html_safe %></p>
	<p>
	<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Edit', edit_article_path(@article)%>
	</p>
<% else  %>
	<h1><%= @article.newest_revision.title %></h1>
	<p><%= @article.newest_revision.paragraph.html_safe %></p>
<% end %>

<hr>
<h2>Sections</h2>
<%= link_to 'New', new_article_section_path(@article.id) if owner%>
<% @article.sections.each do |section| %>
	<% if section.revisions.exists? %>
		<%= render partial: 'sections/show', locals: { section: section } %>
    <% end %>
<% end %>
<hr>
<h2>Notes</h2>
<%= link_to 'New', new_article_note_path(@article.id) if owner%>
<ol>
  <% @article.notes.each do |note| %>
    <%= render partial: 'notes/show', locals: { note: note } %>
  <% end %>
</ol>
<hr>
<h2>References</h2>
<%= link_to 'New', new_article_bibliography_path(@article.id) if owner%>
<ul>
  <% @article.bibliographies.each do |bib| %>
    <%= render partial: 'bibliographies/show', locals: { bib: bib } %>
  <% end %>
</ul>
