<div id="section_<%=section.id%>">
	<% if section.revisions.exists? %>
		<% if owner %>
			<h3><%= section.latest_update.title %></h3>
			<p><%= section.latest_update.paragraph.html_safe %></p>
			<p>
				<%= link_to 'Delete', article_section_path(@article.id, section.id), method: :delete, data: { confirm: 'Are you sure?' } %>
				<%= link_to 'Edit', edit_article_section_path(@article.id, section.id)%>
			</p>
		<% else  %>
			<% if section.newest_revision != nil %>
				<h3><%= section.newest_revision.title %></h3>
				<p><%= section.newest_revision.paragraph.html_safe %></p>
			<% end %>
		<% end %>
	<% end %>
</div>